@page "/"

<h1>hola</h1>
<h2>Title 2</h2>
<h2 class="low-emphasis">Title 2 low</h2>
<h2 class="high-emphasis">Title 2 high</h2>

<p class="">lorem ipsum dolor sit amet</p>
<p class="low-emphasis">lorem ipsum dolor sit amet</p>

Welcome to your new app.
<StarWars></StarWars>
