@page "/starwars"
@using SwapiChallenge.Shared.Data
@inject HttpClient Http

<div class="people-list">
@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{

    @foreach (var person in people)
    {
        <PersonCell person="person"></PersonCell>
    }

}
</div>



@code {
    private Person[] people;

    protected override async Task OnInitializedAsync()
    {
        people = await Http.GetFromJsonAsync<Person[]>("api/starwars");
    }

}
