@page "/starwars"
@using SwapiChallenge.Shared.Data
@inject HttpClient Http

<div class="d-flex">

    <div class="people-list">
        @if (people == null || people.Count == 0)
        {
            <p><em>Loading...</em></p>
        }
        else
        {

            @foreach (var person in people)
            {
                <PersonCell person="person" OnClickCallback="@(()=>selectPerson(person))"></PersonCell>
            }

        }
    </div>
    <div class="person-detail flex-grow-1">

        @if (selectedPerson != null)
        {

            <PersonDetail person="selectedPerson"></PersonDetail>
        }
    </div>
</div>


@code {
    private List<Person> people = new List<Person>();

    private Person selectedPerson;

    private int currentPage = 1;



    protected override async Task OnInitializedAsync()
    {
        fetchData();
    }


    async void fetchData()
    {
        Person[] response;
        do
        {
            response = await Http.GetFromJsonAsync<Person[]>($"api/starwars?page={currentPage}");
            if (response.Length > 0)
            {

                people.AddRange(response);
                currentPage++;
                StateHasChanged();
            }
        } while (response.Length > 0);
    }

    private void selectPerson(Person person)
    {
        selectedPerson = person;
    }

}
